<section class="property-binding"> 
 
    // Exemplo interpolação
    <article>
        <h3>Interpolação</h3>
        <p>String renderizada com interpolação: {{url}}</p>
        <p>resultado de 1 + 1 é: {{1 + 1}}</p>
        <p>Resultado de 1 + 1 não é {{1 + 1 + getValor() }}</p>
        <p>Curso de Angular e gosto do curso: {{cursoAngular && getCurtirCurso}}</p>
    </article>
    
    <article>
        <h3>Property Binding</h3>
        <img [src]="urlImagem">
        <img bind-src="urlImagem">
    </article>
    
    <!-- Anotações Propety Binding:
        - Valor do Component para o Template
        - Usa-se colchetes <img [src]= "Exemplo">
        - Formato padrão é através de bind-nomePropriedade <img bind-src="Exemplo">
        - Quando não existe uma propriede no elemento usa-se [attr.colspan] -->
</section>